body
{
	background: url("images/Aion.png") center no-repeat;
	background-size: 100% 100%;
}

.imageflottante
{
	float: right;
	box-shadow: 2px 2px 4px purple;
}

.dessous
{
	clear: both;
}

@font-face {
    font-family: 'alluraregular';
    src: url('fonts/allura-regular-webfont.eot');
    src: url('fonts/allura-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/allura-regular-webfont.woff2') format('woff2'),
         url('fonts/allura-regular-webfont.woff') format('woff'),
         url('fonts/allura-regular-webfont.ttf') format('truetype'),
         url('fonts/allura-regular-webfont.svg#alluraregular') format('svg');
}

h1, .introduction
{
	color: #663399;
	text-align: center;
	font-family: 'alluraregular', Verdana, sans-serif;
}

h1
{
	font-size: 3em;
	text-shadow: 2px 2px 4px purple;
}

.introduction
{
	font-size: 2em;
	text-shadow: 2px 2px 2px #663399;
}

h2
{
	color: #663399;
	font-size: 1.6em;
	font-family: Verdana, sans-serif;
	font-style: italic;
}

.h3
{
	color: purple;
	font-style: italic;
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 5%; 
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}

#liseré, #contenu
{
    display: inline-block;
    vertical-align: top;
}

#liseré
{   
    width: 5%;
    margin-right: 3%;
    height: 600px;
    background-image: url('images/lisere.png');
    border-radius: 10px;
}

#contenu
{
    width: 85%;
}

/* Nouvelles règles si la fenêtre fait moins de 1024px de large */

@media screen and (max-width: 1024px)
{
	#contenu
	{
		width: auto;
	}
	img
	{
		max-width: 100%,
		height: auto;
	}
	#liseré
	{
		display: none;
	}
	section	
	{
		display: flex;
		flex-direction: column;
		width: auto;
		margin-right: 0px;
	}
	section, h2, .h3, p, a
	{
		font-size: 100%;
	}
}
